/* Mobile */
@media (max-width: 767px) {
  .h1 {
    font-size: 25px;
  }
 
  
  .h2 {
    font-size: 28px;
  }

  .h4 {
    font-size: 16px;
  }

  .section-title {
    margin-bottom: 40px;
    text-align: center;
  }

  .breadcrumb {
    font-size: 12px;
  }

  .nav {
    display: none;
  }

  .button-solid, a.button-solid {
    height: 58px;
    line-height: 17px;
    width: 200px;
  }

  .cart .button-solid, a.button-solid {
    padding: 0 20px;
    width: 100%;
    height: 45px;
    
    font-size: 17px;
    line-height: 45px;
  }

  .button-icon-wrapper {
    width: 58px;
    height: 58px;
  }

  .button-icon-wrapper {
    background-color: rgba(255, 255, 255, 0.8);
  }

  .cart {
    margin-right: 15px;
  }

  .icon--approved, .icon--wheel, .icon--hand {
    width: 40px;
    height: 40px;
  }

  .link {
    font-size: 16px;
  }

  .social-list {
    height: 17px;

    .icon {
      width: 17px;
      height: 17px;
    }
  }

  .main-page .header-top.header-top--gradient-bg, .header {
    background: unset;
  }

  /* Header */
  .header .container {
    width: 100%;
  }

  .header__button {
    margin-bottom: 0;
  }

  .header__content {
    position: relative;
  }

  .header__desc {
    padding-right: 0;
    margin-bottom: 0;

    p {
      font-size: 14px;
    }
  }

  .header__hero {
    position: absolute;
    top: 0;
    z-index: 0;
 
    &::before {
      position: absolute;
      z-index: 9;
      content: "";
      display: inline-block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgb(255, 255, 255, 0.9);
    }
  }

  .header__button {
    padding-right: 0;

    position: relative;
    z-index: 9;
    
    justify-content: center;
  }

  .header__image-main img {
    width: 290px;
    height: 400px;
  }

  .header__content {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: unset;
  }

  .swiper.swiperHeaderText {
    margin-bottom: 0;
    padding: 20px 15px 0 15px;
    width: 290px;
    height: 200px;
  }

  .swiper.swiperHeaderImg {
    width: 290px;
    height: 290px;
  }

  .swiperHeaderText-pagination.swiper-pagination.swiper-pagination-bullets {
    bottom: -60px;
  }
 
  /* Arrival*/
  .arrival {
    padding-top: 30px;
  }

  .arrival__cards-wrapper {
    margin-bottom: 20px;
  }

  .cards-row {
    column-gap: unset;
    row-gap: 10px;
    justify-content: center;
  }

  .card {
    height: 360px;
    width: 869px;
  }

  .card__img img {
    width: 100%;
    height: 280px;
  }

  /* Mobile */
  .feature {
    padding-top: 30px;
  }

  .feature__list {
    margin-bottom: 40px;

    grid-template-columns: unset;
    column-gap: unset;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 20px;

    text-align: center;
  }

  .feature__img {
    margin-bottom: 10px;
  }

  .feature__name {
    font-size: 20px;
  }

  .feature__text {
    font-size: 15px;
  }

  /*About*/
  .about {
    padding-top: 30px;
    padding-bottom: 30px;
  } 

  .about__content {
    grid-template-columns: unset;
    column-gap: unset;
    grid-template-rows: auto auto;
    row-gap: 20px;
  }

  .swiperAbout {
    width: 290px;
    height: 194px;
  }

  .about__header {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .about__text p + p {
    margin-top: 5px;
  }

  .about__text {
    margin-bottom: 20px;
    font-size: 14px;
  }

  /* Footer*/
  .footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .footer__content {
    grid-template-columns: auto auto;
    column-gap: unset;
    grid-template-rows: auto auto auto;
  }

  .footer__column:first-child, .footer__nav, .footer__column:last-child {
    grid-column: unset;
  }


  .footer__column:first-child {
    grid-column: 1 / 2;
    grid-row: 2;

    row-gap: 65px;
  }

  .footer__nav {
    margin-bottom: 30px;

    grid-column: 1 / 3;
    grid-row: 1;
  }

  .nav-list__item {
    font-size: 13px;
  }

  .footer__logo .logo {
    width: 120px;
    font-size: 15px;
  }

  .icon--logo {
    width: 19px;
    height: 19px;
  }

  .footer__column:last-child {
    grid-column: 2 / 3;
    grid-row: 2;
  }

  .footer__nav .inner-nav-wrapper {
    display: none;
  }

  .footer__contact {
    font-size: 12px;
  }

  /*****************************/
  /******* CATALOG PAGE *******/
  /***************************/
  .products {
    padding-top: 30px;
  }

  .shop-header {
    margin-bottom: 30px;
  }

  .products__pages-shown {
    margin-bottom: 25px;
  }

  .product__content {
    flex-wrap: wrap;
    justify-content: stretch;
  }

  .product__desc {
    width: 100%;
  }

  .products-tab__nav {
    display: none;
  }

  .products-tab__block {
    column-gap: unset;
    row-gap: 15px;
  }

  .products__cards {
    margin-bottom: 25px;
  }

  .product__swiper {
    margin-bottom: 60px;
  }

  .product-swiper {
    width: 290px;
    height: 390px;
  }

  .product-thumbs {
    width: 290px;
  }

  
  .form-product__row {
    margin-bottom: 40px;
  }
  

  .product__price {
    margin-bottom: 40px;
  }

  .product .button-solid, .product a.button-solid {
    width: 100%;
  }

   /*****************************/
  /******* CART *******/
  /***************************/

  .inner-page {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .page-shopping-cart__header {
    margin-bottom: 30px;
  }

  .section-title {
    margin-bottom: 20px;
  }

  .page-shopping-cart__heading {
    padding-bottom: 10px;
    font-size: 14px;
  }

  .page-shopping-cart__heading:not(:last-child):not(:first-child) {
    display: none;
  }

  .page-shopping-cart__grid {
    grid-template-columns: auto auto;

    .page-shopping-cart__heading:last-child {
      text-align: right;
    }
  }

  .page-shopping-cart__grid + .page-shopping-cart__grid {
    grid-template-columns: 150px auto auto auto;
  }

  .page-shopping-cart__img img {
    width: 50px;
    height: auto;
  }

  .page-shopping-cart__delete {
    padding: 5px 5px;
    margin: -5px -5px;

    margin-right: 5px;
  }

  .page-shopping-cart__block {
    font-size: 14px;
  }

  .page-shopping-cart .icon--delete {
    width: 8px;
    height: 8px;
  }

  .page-shopping-cart__img {
    margin-right: 5px;
  } 

  .page-shopping-cart__title {
    font-size: 12px;
  }

  .page-shopping-cart__amount span {
    width: 25px;
    height: 25px;

    line-height: 25px;
    font-size: 12px;
  }

  .page-shopping-cart__buttons-wrapper {
    margin-top: 25px;

    justify-content: center;
    flex-wrap: wrap;
    column-gap: unset;
  }

  .page-shopping-cart__final-check {
    width: 100%;
  }

  .button-fake {
    width: 100%;
    height: 40px;

    text-align: center;
    line-height: 40px;
  }

  .page-shopping-cart__grid + .page-shopping-cart__grid {
    margin-top: 25px;
  }

}