# AddDefaultCharset UTF-8
# php_flag display_errors on
# php_value error_reporting -1

# <IfModule mod_rewrite.c>
#   RewriteEngine On
#   RewriteBase /
#   RewriteRule ^index\.php$ - [L]

#   RewriteCond %{REQUEST_URI} !^/admin/
#   RewriteCond %{REQUEST_URI} !/admin
  
#   RewriteCond %{REQUEST_FILENAME} !-f 
#   RewriteCond %{REQUEST_FILENAME} !-d

#   RewriteRule . /index.php [L]
# </IfModule>
AddDefaultCharset UTF-8
php_flag display_errors on
php_value error_reporting -1


<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Не трогать прямой доступ к index.php
  RewriteRule ^index\.php$ - [L]

  # Не переписывать, если файл или папка существует
  RewriteCond %{REQUEST_FILENAME} !-f 
  RewriteCond %{REQUEST_FILENAME} !-d

  # Всё остальное идёт в index.php, но избегаем зацикливания
  RewriteRule ^.*$ index.php [QSA,L]
</IfModule>


