.admin-form-table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.admin-form-table__header {
  font-style: normal;
  font-weight: bold;
  font-size: var(--font-size-xs);
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--color-black);
}

.admin-form-table__row {
  position: relative;

  height: var(--height-row-l);
  border-bottom: 1px solid rgba(126, 155, 189, 0.3);

  background-color: var(--color-white);
}

.admin-form-table__row.message-new {
  background-color: var(--admin-panel-new-message-bg);
}

.admin-form-table__unit {
  padding: var(--space-lg);
}

