.authorization-page {
  position: relative;
  z-index: 9;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 50px;
}

.authorization-page__header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.authorization-page-footer {
  padding-top: var(--space-lg);
  padding-bottom: var(--space-lg);
}

.authorization-page-footer__content{
  font-size: var(--font-size-sm);
  color: #fff;
}

.authorization__forms-wrapper {
  margin-left: auto;
  margin-right: auto;

  display: grid;
  width: 800px;
  min-height: 424px;
  grid-template-columns: 440px 1fr;
  align-items: center;

  box-shadow: -15px 15px 10px 2px #1b262c;

  form {
    height: 100%;
  }
}

.authorization__links {
  position: relative;
  padding: 50px 30px;
  height: 100%;
  border: 1px solid #171f24;
  color: #fff;
  background-color: #171f24;
}

.authorization__subtitle {
  font-size: var(--font-size-lg);
}

.authorization__img {
  position: absolute;
  top: 75%;
  transform: translateY(-50%);
  left: -137px;

  overflow: hidden;
  svg {
    width: 250px;
    height: 250px;
    fill: #fff;
    stroke: #000;
    stroke-width: 3px;
  }
}


.authorization-page__link {
  display: flex;
  align-items: center;
  column-gap: var(--space-xl);
}

.authorization-page__header-title {
  font-size: var(--font-size-xl);
  font-weight: 700;
  text-transform: uppercase;
}



