.page-cart {
  padding-top: var(--space-3xl);
  padding-bottom:  var(--space-3xl);
}

.page-cart__header {
  margin-bottom: var(--space-4xl);
}

.page-cart__cart-wrapper {
  text-align: center;
}

.page-cart__empty {
  display: inline-block;
}

.page-cart__title-wrapper {
  margin-bottom: var(--space-2xl);
}

.page-cart__title {
  font-size: var(--font-size-2xl);
}

.page-cart__header {
  margin-bottom: var(--space-4xl);
}




