.sidebar {
  max-width: 300px;
  min-height: 100%;
  background-color: #212121;
  color: #fff;
}

.sidebar.sidebar--blog {
  padding: 0 var(--space-lg);
  background-color: unset;
  color: var(--color-black);
}

.sidebar__container {
  margin: 0 10px;
}

.sidebar__content {
  padding-top: 20px;

  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // row-gap: 50px;
}

.sidebar__list-item {
  min-height: 60px;
  line-height: 60px;

  & > * {
    width: 100%;
  }

  &:nth-last-child(2) {
    margin-top: 100%;
  }
}

.sidebar__title-wrapper {
  margin-bottom: 15px;
}

.sidebar__header {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.3;
  text-align: center;
  color: var(--color-white);
}

.sidebar__title {
  font-size: 28px;
  line-height: 1.3;
}

.sidebar__subtitle {
  font-size: 13px;
  line-height: 1.2;
  text-transform: uppercase;
}

.sidebar__list-button {
  padding: 15px 15px;

  display: flex;
  align-items: center;

  border-radius: 8px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  color: var(--color-white-rgba-07);
  transition: background-color 0.1s ease-in;


  &:hover, &--active {
    color: var(--color-white);
    background-color: rgba(73, 82, 91, 0.4);
  }

  svg {
    fill: currentColor;
  }
}

.sidebar__list-item > .sidebar__list {
  padding-left: 20px;
}

.sidebar__list-item > .sidebar__list  > .sidebar__list-item  {
  &:nth-last-child(2) {
    margin-top: 0;
  }

  .sidebar__list-button {
    font-size: 14px;
  }
}


.sidebar__list-img-wrapper {
  margin-right: 20px;

  position: relative;
  display: inline-block;
  flex-shrink: 0;

  svg, img {
    width: 24px;
    height: 24px;
  }
}

.sidebar__text {
  flex: 1 1 50%;
}

.sidebar__search, .sidebar__widget  {
  margin-bottom: var(--space-5xl);
}


.sidebar__widget {
  width: 100%;
}

.sidebar__widget + .sidebar__widget {
  margin-top: 25px;
}

.widget__item--related + .widget__item--related {
  margin-top: 56px;
}

.sidebar__logo-wrapper {
  margin-bottom: 50px;
}

