.admin-page {
  background-color: var(--admin-page-bg);
}


.admin-page > .admin-panel {
  position: relative;
}


.admin-page__panel-wrapper {
  flex: 1;
}

.admin-page__content-form {
  height: 100%;
}

.admin-page__panel-wrapper {
  display: flex;
  height: 100vh;
}

.admin-page__content {
  flex-grow: 1;
}

.admin-page__admin-page__dashboard {
  height: 100%;
}

.admin-page__sidebar {
  flex-shrink: 0;
  overflow-y: auto; /* Оставляет прокрутку */
  scrollbar-width: none; /* Для Firefox */
}

.admin-page__sidebar::-webkit-scrollbar {
  display: none; /* Для Chrome, Safari */
}








