.admin-card {
  position: relative;
  width: 202px;
  height: 172px;
  border: 1px solid var(--color-black);
  box-shadow: var(--shadow-sm);
}

.admin-card:hover .tooltip {
  opacity: 1;
}

.admin-card__img {
  width: 200px;
  height: 130px;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.admin-card__desc {
  padding: var( --space-sm) var(--space-md);
  height: 40px;
}
