.contacts__header {
  margin-bottom: var(--space-2xl);
}

.contacts__map {
  margin-bottom: 130px;

  iframe {
    width: 100%;
  }
}

.contacts__widget:not(:last-child) {
  margin-bottom: 130px;
}

.contacts__item {
  display: flex;
  align-items: center;
  column-gap: var(--space-lg);
  font-size: var(--font-size-lg);
  line-height: 1.4;
}

.contacts__item + .contacts__item {
  margin-top: var(--space-xl);
}

.contacts__widgets-wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: var(--space-2xl);
}

.contacts__widget__title {
  margin-bottom: var(--space-2xl);
}