.link-to-page {
  cursor: pointer;
  &::before {
    z-index: 1;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in;
  }
}

.link-above-others {
  position: relative;
  z-index: 11;
}

.page-cart {
  padding-top: 50px;
  padding-bottom: 50px;
}

.page-cart__header {
  margin-bottom: 70px;
}



