html {
	scroll-behavior: smooth;
	background-color: rgb(39, 39, 39);
  scrollbar-gutter: stable; // место для скроллбара 
}
body {
	background-color: var(--color-page-bg);
	color: var(--color-text-color);
	font-family: var(--font-main);
  font-size: var(--font-size-md);
	text-wrap: balance;
  font-weight: var(--font-weight-regular);
  line-height: 1.6;
  letter-spacing: 0.05em;
  overflow-x: hidden;
}

body.animated-bg-lines {
  .authorization-page__link {
    color: #fff;
  }
  header, .authorization {
    position: relative;
    z-index: 9;
  }
}

html, body {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
	display: block;
}

a {
  display: block;
	color: var(--color-black);
}

.main-content {
  padding-bottom: 100px;
}

main.inner-page {
  // flex :1; // занимает всё свободное место между header и footer
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner-page {
  padding-top: 100px;
  padding-bottom: 100px;
}

.authorization-page .inner-page {
  padding-top: unset;
}


