/**
 * Variables Layout
 * ----------------------------------------
 * Переменные, отвечающие за ширину контейнеров, отступы и брейкпоинты.
 * Используются для адаптивной верстки и настройки сетки.
 * 
 * Пример:
 *   --container-width: 1140px;
 *   --mobile-size: 599px;
 *
 * Правила:
 * - Брейкпоинты начинаются с --[устройство]-size
 * - Единицы измерения — только px
 * - Контейнеры — фиксированные, но могут адаптироваться через media
 */


 :root {
  /*containers*/
	--container-width: var(--breakpoint-xl);
  --container-padding: var(--space-md);
	--container-desctop-width: var(--breakpoint-lg);
	--container-laptop-width: var();
	--container-tablet-width: var();
	--container-mobile-width: var();
	--container-mobile-xs-width: var();


   /* media */
  --desctop-size: var(--breakpoint-xl);
  --laptop-size: var(--breakpoint-lg);
	--tablet-size: var( --breakpoint-md);
	--mobile-size: var(--breakpoint-sm);
 }