/**
 * Variables Colors
 * ----------------------------------------
 * Здесь хранятся все переменные, связанные с цветами.
 * Используем единый стиль именования: --color-[название]
 * Цвета группируются по назначению: базовые, фоновые, акценты и т.п.
 * Используем только HEX или rgba, избегаем смешанных форматов.
 * 
 * Пример:
 *   --color-primary: #c7762f;
 *   --color-background: #fff;
 *
 * Правила:
 * - Все имена переменных — в нижнем регистре, с дефисами.
 * - Избегаем повторений и дублирования.
 */


 :root {
  --color-transparent: transparent;
   
  /* === БАЗОВЫЕ ЦВЕТА === */
  --color-white: #fff;
  --color-gray: #eeeaea; /*gray light*/
  --color-black: #000;
  --color-red: #c90000;
  --color-green: #047642;
  --color-vinous : #5b0a2d;


  --color-button-icon-bg: rgba(110, 156, 159, 0.1);
  --color-white-100: #f1eadc;
  --color-white-rgba-06: rgba(255, 255, 255, 0.6);
  --color-white-rgba-07: rgba(255, 255, 255, 0.7);

  --color-black-100: hsl(0, 0%, 28%);
  --color-black-300: #3a3939;
  --color-black-400: #1b262c; /*400 secondary*/
  --color-black-500: #252526;
  --color-black-600: #111; /*thirdly*/

  /* === ГРАДАЦИИ СЕРЫХ === */
  --color-gray-100: #ededed; /*gray light*/
  --color-gray-200: #e1e1e1;
  --color-gray-400: #b7b7b7;
  --color-gray-600: #6b7280;


  --color-red-100: #f79090;
  --color-red-200: #e40505;
  --color-red-300: #b80846;
  --color-red-400: #9c0505;
  --color-red-500: #7b0404;

  --color-ohra-200: #b45309;
  --color-ohra-300: #c75614;
  --color-ohra-400: #a75627;

  --color-orange-100: #d3b59b;
  --color-orange-200: #d6ad60;
  --color-orange-300: #ea9145;

  /* Зеленый*/
  --color-green-100: #edffd0;  
  --color-green-300: #61d392;  


  --color-blue-light-rgba-01: rgba(110, 156, 159, 0.1);

  /* === ФОНОВЫЕ И ФОН-АКЦЕНТЫ === */
	--color-page-bg: var(--color-white);
  --color-page-bg-accent: var(--color-white-100);
	--color-text-color: var(--color-black);
  --color-accent: #c7762f;
	--color-accent-additional: #998e78;
  --color-warning: var(--color-red);
	--color-link-color: var(--color-accent);

  --color-border-main: var(--color-black-400);
  --color-border-third: var(--color-ohra-300);
  --color-border-accent: var(--color-accent);
  --color-border-forth: var(--color-gray-400);

  --color-bg-light: var(--color-gray-200);
 }

 

