/**
 * Variables Product (Single Product Page)
 * ----------------------------------------
 * Здесь описываются размеры и стили галереи, карточек товара и счётчиков.
 * Используются формулы calc() для адаптивного расчета блоков изображений.
 *
 * Пример:
 *   --product-gallery-width: 660px;
 *   --product-gallery-gap: 2px;
 *
 * Правила:
 * - Имена переменных начинаются с --product-[блок]-[свойство]
 * - Значения рассчитываются динамически, если используется calc()
 */

:root {
  /**** Single product page ****/

  /* Product card*/
  --product-card-border: var(--color-black);
  --product-card-bg: var(--color-white);
  --product-card-text-color: var(--color-black-600);

  /* Gallery*/
  --product-gallery-width: 660px;
  --product-gallery-small-img-qty: 2;
  --product-gallery-gap: 2px;
  --product-gallery-block-width: calc((var(--product-gallery-width) / 2) - var(--product-gallery-gap));
  --product-gallery-small-img-width: calc((var(--product-gallery-block-width) / 2) - 2px);

  /* Components*/
  --counter-bg-color: var(--color-accent);
  --counter-font-color: var(--color-white);
}