:root {
  --spacing-zero: 0;
  --space-xxs: 2px;
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-2xl: 48px;
  --space-3xl: 54px;
  --space-4xl: 60px;
  --space-5xl: 120px;
}