@import './mixins';

.authorization-form__button .button {
  width: 100%;
  max-width: 100%;
}

.buttons {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

/* Базовый стиль для всех кнопок */
.button {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  max-width: 100%;

  text-align: center;
  line-height: 1.5; // это font size * 1,5, для лучшей читаемости
  font-size: var(--font-size-md);
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-regular);

  transition: all 0.2s ease-in;
  text-decoration: none;

  cursor: pointer;
}


/* Модификатор для красной кнопки */
.button--danger {
  border-radius: var(--radius-sm);
  background-color: var( --button--danger-bg); /* или var(--button-red-bg), если используешь переменную */
  border: 1px solid var(--button--danger-border-color);
  color: var(--button--danger-text);          /* цвет текста на красном фоне */

    
  &:hover {
    background-color: var(--button--danger-bg-hover);
    border-color: var(--button--danger-bg-hover);
  }

  &:focus {
    box-shadow: 0 0 4px var( --button--danger-bg-focus);
    border-color: var( --button--danger-bg-focus);
  }

  &:active {
    background-color: var( --button--danger-bg-active);
    border-color: var(--button--danger-bg-active);
    box-shadow: none;
  }

  &:disabled {
    background-color: var(  --button--danger-bg-disabled);
    border-color: var(--button--danger-bg-disabled);
    cursor: not-allowed;
  }
}

.button--full {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Primary кнопка */
.button--primary {
  border-radius: var(--radius-sm);
  background-color: var(--button-primary-bg);
  color: var(--button-primary-text);
  border: 1px solid var(--button-primary-bg);

  
  &:hover {
    background-color: var(--button-primary-bg-hover);
    border-color: var(--button-primary-bg-hover);
  }

  &:focus {
    box-shadow: 0 0 4px var(--button-primary-bg-focus);
    border-color: var(--button-primary-bg-focus);
  }

  &:active {
    background-color: var(--button-primary-bg-active);
    border-color: var(--button-primary-bg-active);
    box-shadow: none;
  }

  &:disabled {
    background-color: var(--button-primary-bg-disabled);
    border-color: var(--button-primary-bg-disabled);
    cursor: not-allowed;
  }
}


/** Outline кнопка **/
.button--outline {
  border: 1px solid var(--color-accent);
  border-radius: var(--radius-sm);
  color: var(--color-accent);
  background-color: var(--color-white);
}

.button--outline-transparent {
  color: var(--color-white);
  border-color: var(--color-white);
  background-color: var(--color-transparent); 
}

.button--outline:hover {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: var(--color-white);
}

.button--outline:focus {
  box-shadow: 0 0 5px var(--button-primary-outline-bg-focus);
  border-color: var(--button-primary-outline-bg-focus);
}

.button--outline:active {
  background-color: var(--button-primary-outline-bg-active);
  border-color: var(--button-primary-outline-bg-active);
  box-shadow: none;
}

.button--outline:disabled {
  background-color: var(--button-primary-outline-bg-disabled);
  border-color: var(--button-primary-outline-bg-disabled);
  cursor: not-allowed;
}


/** Кнопка с иконкой **/
.button--with-icon {
  width: 150px;
  text-align: left;
  justify-content: flex-start;

  &::after {
    margin-left: 20px;

    display: inline-block;
    width: 10px;
    height: 10px;

    content: "";
    
    border-left: 2px solid var(--color-white);
    border-top: 2px solid var(--color-white);
    transform: rotate(135deg);
    transition: margin 0.5s ease;
  }
}

.button--with-icon:hover::after {
  margin-left: var(--space-xl);
}


/* Закрывающая кнопка */
.button--close {
  z-index: 9;
  position: absolute;
  top: var(--space-xs);
  right: var(--space-xs);
}

.button--close svg {
  // transition: stroke 0.2s ease-in;
}

.button--close-with-bg {
  padding: var(--space-xs);
  backdrop-filter: blur(2px);
  background-color: var(--color-white-rgba-06);

  svg {
    stroke: var(--color-black);
  }
}

/* BUTTON BACKTOP*/
.button--backtop {
  z-index: 100;

  position: fixed;
  bottom: 25px;
  right: 25px;

  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;

  opacity: 0;
  overflow: visible; /* важно для псевдоэлемента */
  transition: opacity 0.2s ease-in;

  .icon--arrow {
    stroke: var(--color-black);
  }
}

.button--backtop-active {
  opacity: 1;
}

.button--backtop::before {
  content: "";
  position: absolute;
  top: -20px;
  right: -20px;
  bottom: -20px;
  left: -20px;
  /* создаёт невидимую зону вокруг кнопки */
}

.button--backtop svg {
  transition: fill 0.2s ease-in;
  pointer-events: none; /* чтобы SVG не мешал hover-зоне */
}

// .button--tab {
//   border: 1px solid var(--color-black);
//   color: var(--color-white);
//   background-color: var(--color-black);
// }

// .button--tab.active {
//   color: var(--color-black);
//   background-color: var(--color-white);
// }

// .button--tab:hover:not(.active) {
//   border-color: var(--color-accent);
//   background-color: var(--color-accent);
// }

.fav-button-wrapper {
  z-index: 9;
  display: inline-block;

  position: absolute;
  bottom: 22px;
  right: 22px;
}

.fav-button {
  width: 38px;
  height: 38px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--color-black-400);
  border-radius: 50%;
  background-color: var(--color-white);

  .icon--favorite {
    stroke: var( --color-black-400);
  }
}

.fav-button--active .icon--favorite {
  stroke: var(--color-red-300);
  fill: var(--color-red-300);
}

/* РАЗМЕРЫ*/
.button--xs {

}

.button--s {
  @include button-size(40px, var(--space-md), 150px, var(--font-size-xs));
  max-width: 150px;
}
// $height, $padding-x, $min-width, $font-size: var(--font-size-sm)
.button--m {
  @include button-size(50px, var(--space-md), 200px, var(--font-size-sm));
  max-width: 200px;
}

.button--l {
  @include button-size(68px, var(--space-lg), 250px, var(--font-size-lg));
  max-width: 250px;
}

.button--xl {
  @include button-size(68px, var(--space-lg), 250px, var(--font-size-lg));
}

.btn-add-photo {
  padding: 5px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid var(--color-gray-600);
  transition: border-color 0.2s ease-in;
}

.btn-add-photo .icon
{
  width: 32px;
  height: 32px;
  fill: var(--color-gray-600);
  transition: fill 0.2s ease-in;
}

.btn-add-photo:hover {
  border-color: var(--color-accent);
}

.btn-add-photo:hover .icon {
  fill: var(--color-accent);
}

.fav-button-wrapper {
  position: absolute; /* если нужно поверх картинки */
  top: 10px;
  right: 10px;
}

.fav-button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.icon--favorite {
  width: 24px;
  height: 24px;
  fill: none;
  stroke: #999;
  stroke-width: 2;
  transition: fill 0.3s ease, stroke 0.3s ease;
  pointer-events: visiblePainted;
}

/* при наведении */
.fav-button:hover .icon--favorite {
  fill: #ff3b3b;
  stroke: #ff3b3b;
}

/* активное состояние */
.fav-button--active .icon--favorite {
  fill: #ff3b3b;
  stroke: #ff3b3b;
}



.icon--favorite {
  width: 24px;
  height: 24px;
}

/* нижний слой */
.stroke-white {
  fill: none;
  stroke: #fff;
  stroke-width: 4; 
}

/* верхний слой */
.stroke-main {
  fill: none;
  stroke: #000;   /* по умолчанию черный */
  stroke-width: 2;
  transition: fill 0.3s ease, stroke 0.3s ease;
  pointer-events: visiblePainted;
}

/* hover */
.fav-button:hover .stroke-main {
  fill: #ff3b3b;
  stroke: #ff3b3b;
}

/* active */
.fav-button--active .stroke-main {
  fill: #ff3b3b;
  stroke: #ff3b3b;
}






/** GOOGLE */
.gsi-material-button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: WHITE;
  background-image: none;
  border: 1px solid #747775;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
  transition: background-color .218s, border-color .218s, box-shadow .218s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  max-width: 400px;
  min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity .218s;
  transition: opacity .218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #ffffff61;
  border-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state, 
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: #303030;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: #303030;
  opacity: 8%;
}