.h1 {
  font-family: var(	--font-titles);
  font-size: var(--font-size-3xl);
  line-height: 1.1;
}

.h2 {
  font-family: var(	--font-titles);
  font-size: var(--font-size-3xl);
  line-height: 1.1;
}

.h3 {
  font-family: var(	--font-titles);
  font-size: var(--font-size-lg);
  line-height: 1.4;
}

.section-title {
  margin-bottom: var(--space-xl);
}

.shop-header {
  margin-bottom: var(--space-2xl);
}

.shop-header__title {
  margin-bottom: var(--space-lg);
}

.text-bold {
 font-weight: var(--font-weight-semi-bold);
}

.text-accent {
  color: var(--color-accent);
}

.text-big {
  font-size: var(--font-size-lg);
  text-transform: uppercase;
}

.text-wrap {
  white-space: normal;
  overflow-wrap: break-word;
  white-space: normal;
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.block__text {
  height: 60px;     // Ограничение высоты текста для родителя
  overflow: hidden; // Скрываем текст, кот может выйти за рамки контейнера

  .block__desc {
    display: -webkit-box;
    -webkit-box-orient: vertical; // Если конец строки обрезан, то добавляет многоточие
    -webkit-line-clamp: 2; // Ограничиваем кол-во строк текста
    overflow: hidden;
  }
}





