/**
 * Variables Admin Panel
 * ----------------------------------------
 * Стиль админки: фон, текст, кнопки, иконки, маркеры уведомлений.
 * Переменные для sidebar, header, кнопок и маркеров.
 *
 * Пример:
 *   --admin-panel-bg: #1b262c;
 *   --admin-panel-font-size: 14px;
 *
 * Правила:
 * - Имена начинаются с --admin-panel-[элемент]-[свойство]
 * - Поддерживаем читабельность и контрастность
 */


 :root {
  /* buttons*/
  --button-solid-admin-bg: var(--color-accent);

   /* admin panel */
  --admin-panel-link-text: var(--color-white);
  --admin-panel-button-text: var(--color-white-rgba-06);
  --admin-panel-button-text-hover: var(--color-white);
  --admin-panel-note-marker-bg: var(--color-warning);
  --admin-panel-note-marker-color: var(--color-white);
  --admin-panel-note-marker-font-size: var(--font-size-xs);
  --admin-panel-note-marker-font-family: var(--font-third);
  --admin-panel-sidebar-icon: var(--color-white-rgba-07);

  --admin-panel-bg: var(--color-black-400);
  --admin-panel-new-message-bg: var(--color-green-100);

   --admin-page-bg: var(--color-gray-100);
 }