/**
 * Variables Dashboard
 * ----------------------------------------
 * Отдельные переменные для панели управления (dashboard).
 * Цвета заголовков, фонов и бордеров.
 *
 * Пример:
 *   --admin-dashboard-header-bg: #fff;
 *   --admin-dashboard-title-color: #3a3939;
 *
 * Правила:
 * - Имена начинаются с --admin-dashboard-[элемент]-[свойство]
 * - Используются только в административной части
 */

 :root {
  /* Dashboard*/
  --admin-dashboard-header-bg: var(--color-white);
  --admin-dashboard-bg: var(--color-gray-100);
  --admin-dashboard-header-border: var(--color-accent);
  --admin-dashboard-title-color: var(--color-black-300);
 }