.article {
  display: flex;
  column-gap: 94px;
  align-items: center;
}

.article:nth-child(even) {
  flex-direction: row-reverse;
}

.article + .article {
  margin-top: 130px;
}

.article__img {
  position: relative;
  flex-shrink: 0;
  flex-grow: 1;
  // overflow: hidden;
  img {
    width: 446px;
    height: 547px;
    clip-path: xywh(0 3px 100% 86% round 0% 93%);
    // clip-path: xywh(0 5px 100% 85% round 0% 93%);
  }
}


.article__decor--medium {
}
.article__decor--small {
}

.article__content {
  flex-grow: 1;
}

.article__title {
  margin-bottom: 46px;
}

.article__text {
  font-size: 17px;
  line-height: 1.4;
  
  p + p {
    margin-top: 15px;
  }
}
