.authorization-form {
  padding: var(--space-2xl) var(--space-xl);
  height: 100%;

  border: 1px solid var(--color-black-400);
  background-color: var(--color-white);
  color: var(--color-black-400);
}

.authorization-form__heading {
  margin-bottom: var(--space-xl);
  text-align: left;

  .heading {
    font-size: 41px;
  }
}

.authorization-form__field-title {
  margin-bottom: var(--space-sm);
  text-align: left;
}

.authorization-form__field + .authorization-form__field {
  margin-top: var(--space-lg);
}

.authorization-form__button, .authorization-form__links {
  margin-top: var(--space-2xl);
  text-align: left;
}