.post-meta {
  display: flex;
  align-items: center;
  column-gap: var(--space-xl);
}

.post-meta--with-text {
  margin-bottom: 20px;
  margin-top: 20px;
  
  justify-content: space-evenly;

  svg {
    width: 30px;
    height: 30px;
  }

  .post-meta__date, .post-meta__views, .post-meta__readtime {
    font-weight: var(--font-weight-semi-bold);
  }
}

.post-meta__date, .post-meta__views, .post-meta__readtime  {
  display: flex;
  align-items: center;
  column-gap: var(--space-md);
}

.post-meta__text {
  font-size: var(--font-size-sm);
  text-transform: uppercase;
  color: var(--color-gray-400);
}

