.search-block {
  display: flex;
  justify-content: flex-end;
}

.search {
  width: 100%;
  max-width: 250px;
  padding: var(--space-sm) var(--space-md);

  display: flex;
  column-gap: var(--space-xs);
  align-items: center;

  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-gray-100);
  transition: box-shadow 0.2s ease-in;

  &:hover .icon--loupe {
    fill: var(--color-accent);
    animation: pulse 0.5s ease-in-out;
  }
}

.search .icon--loupe {
  width: 20px;
  height: 20px;
  transition: fill 0.2s ease-in;
  fill: var(--color-gray-600);
  cursor: pointer;
}

@keyframes wiggle {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(8deg);
  }
  75% {
    transform: rotate(-8deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

