.tab {
  background-color: var(--color-white);
}

.tab__nav {
  margin-bottom: var(--space-4xl);

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tab__block {
  padding: 0 var(--space-lg);
  display: none;
}

.tab__block--social {
  max-width: 50%;
}

.tab__block.active {
  display: block;
}

.tab__nav-button {
  padding: var(--space-lg) var(--space-4xl);
  border: 1px solid #000;

  font-weight: 500;
  line-height: 1.4;
  text-overflow: ellipsis;
  transition: all 0.5s ease;

  &:hover {
    cursor: pointer;
    background-color: #eaeaea;
  }
}

.tab__nav-button.active {
  background-color: #000;
  color: #fff;
}

.tab__nav-button--flags {
  padding: 10px 15px;
  border-color: var(--color-gray-200);

  img {
    width: 40px;
    height: auto; 
  }

  &.active {
    background-color: var(--color-gray-400);
  }
}


.profile-form .tab__nav {
  margin-bottom: var(--space-md);
}

.profile-form .tab__nav {
  justify-content: center;
}

.profile-form .tab__block.active {
  display: block;
}

.tab__nav-button--outline {
  position: relative;
  display: inline-block;
  padding: var(--space-md) var(--space-lg);

  border: none;
  background-color: #fff;

  font-weight: 700;
  line-height: 1;
  color: rgba(0, 0, 0, 0.3);
  
  transition: all 0.2s ease;

  &.active {
    color: #000;
    background-color: #fff;
  }

  &:hover {
    background: #fff;
  }
}

.tab__nav-button--outline::before {
position: absolute;
content: "";
left: 0;
top: 50%;
transform: translateY(-50%);
display: none;
width: 5px;
height: 5px;
border-radius: 50%;
background-color: #000;
transition: all 2s ease;

display: none;
}

.tab__nav-button--outline.active::before {
display: inline-block;
}



