.product-card {
  padding: var(--space-lg);
  max-width: 457px;

  border: 1px solid var(--color-product-card-border);
  background-color: var(--color-product-card-bg);
  border-radius: var(--radius-md);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);

  font-family: var(--font-third);
  color: var(--color-product-card-text-color);
}

.product-card__row + .product-card__row {
  margin-top: 25px;
}

.product-card__cta {
  display: flex;
  column-gap: 11px;
}

.product-card__text {
  margin-bottom: var(--space-md);

  font-family: var(--font-secondary);
  font-size: 20px;
  line-height: 1.4;
}

.product-card__button {
  margin-top: var(--space-4xl);
  text-align: center;
}

/* Характеристики (список) */
.product-card__list {
  margin-bottom: 60px;;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-sm) var(--space-md);
  font-size: 14px;

  dd {
    text-align: right;
  }
}

.product-card__item dt {
  color: var(--color-gray-600); /* серо-бежевый */
}

.product-card__item dd {
  font-weight: var(--font-weight-semi-bold);
  color: var(--color-black-600);
  margin: 0;
}

.product-card__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 15px;
}

.product-card__item  + .product-card__item  {
  margin-top: var(--space-md);
}

.product-card__header {
  margin-bottom: 40px;
}

/* Заголовок */
.product-card__title {
  font-family: var(--font--accent-secondary);
  font-size: 22px;
  font-weight: 700;
  line-height: 1.6;
  color: var(--color-vinous); /* тёмно-бордовый */
  margin-bottom: var(--space-md);
}

/* Цена */
.product-card__price {
  text-align: right;
  font-size: 24px;
  font-weight: bold;
  color: var(--color-ohra-200);
  border-top: 1px solid var(--color-orange-200);
  padding-top: var(--space-lg);
}

/* Кнопка */
// .product-card__cta {
//   background-color: #b45309;
//   color: white;
//   font-weight: 600;
//   font-size: 16px;
//   padding: 12px 20px;
//   border: none;
//   border-radius: 12px;
//   cursor: pointer;
//   transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
//   display: inline-block;
//   text-align: center;
// }

// .product-card__cta:hover {
//   background-color: #92400e;
//   transform: translateY(-2px);
//   box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
// }

// .product-card__cta:active {
//   background-color: #78350f;
//   transform: translateY(1px);
//   box-shadow: none;
// }


