
.drop-area {
	background-color: #ccc;
	border-radius: 12px;
	padding: 20px;
	width: 100%;
}

.highlight {
	border: 4px dashed gray;
}

.preview-list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}
.preview-list li {
	width: 100px;
	cursor: grab;
	border: 1px solid #ccc;
	padding: 15px;
}