.logo {
    max-width: 200px;

    font-size: var(--font-size-4xl);
    font-family: var(--font--accent);
    font-weight: var(--font-weight-bold);
    letter-spacing: 0.1em;
    text-decoration-skip-ink: none;
    color: var(--color-text-color);
}

.blog-logo {
  width: 220px;
}
.blog-logo__text {
  text-transform: uppercase;
  font-family: var(--font--accent);
  font-size: var(--font-size-xs);
  /* font-size: var(--font-size-sm); */
  color: var(--color-black-300);
}
.blog-logo__separator {
  margin-bottom: var(--space-xs);
  display: block;
  height: 1px;
  width: 100%;
  background-color: var(--color-accent);
}
.blog-logo__title {
  font-size: var(--font-size-3xl);
  letter-spacing: 3px;
  font-family: var(--font--accent);
  font-weight: 600;
}
