.notifications-wrapper {
  padding-top: 20px;
  margin-top: -20px;
  margin-bottom: 20px;

  display: flex;
  justify-content: center;
}

.notifications-wrapper__row {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  padding-right: var(--space-md);
  padding-left: var(--space-md);
  flex: 0 0 50%;
  max-width: 50%;
}

.notifications {
    padding-top: 100px;
    margin-top: -100px;
    margin-bottom: var(--space-lg);
}

.notifications__title {
  padding: var(--space-md) var(--space-lg);
  font-family: var(--font-secondary);
  line-height: 1.3;
  font-weight: var(--font-weight-semi-bold);
  color: var(--color-black);
  border-radius:var(--radius-md);
  background-color: var(--color-orange-200);
}

.notifications.notifications__title--with-message .notifications__title {
  border-radius: 6px 6px 0 0;
}

.notifications__title--error {
  background-color: var(--color-red);
  color: var(--color-white);
}

.notifications__title--success {
  background-color: var(--color-green-300);
  color: var(--color-white);
}

.notifications__message {
  padding: var(--space-lg);

  display: flex;
  align-items: center;
  column-gap: 35px;
  
  background-color: var(--color-gray-100);
  border-radius: 0px 0px 6px 6px;
}

.notifications__message p {
  margin: 0;
  font-family: var(--font-secondary);
  line-height: 1.5;
}

// .notifications__message p:not(:last-child) {
//   margin-bottom: var(--space-sm);
// }