.section-pagination {
  margin-top: var(--space-lg);
  margin-bottom: var(--space-lg);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: var(--space-md);
}

.pagination-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 41px;
  border: 1px solid #000;
  background-color: var(--color-white);

  line-height: 1.4;

  transition: color 0.2s ease-in, background-color 0.2s ease-in, border-color 0.2s ease-in;
  cursor: pointer;

  &:hover {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
    color: var(--color-white);
  }

  &.active {
    background-color: var(--color-black);
    color: var(--color-white);

    &:hover {
      background-color: var(--color-accent);
    }
  }

  &--icon {
    background-color: unset;
    border: unset;

    svg {
      width: 24px;
      height: 24px;
      transition: stroke 0.2s ease-in;
      stroke: var(--color-black);
    }

    &:hover {
      background-color: var(--color-transparent);
      border-color: var(--color-transparent);

      svg {
        stroke: var(--color-accent);
      }
    }
  }
}


.arrow-prev {
  transform: rotate(180deg);
}