.petal-decor {
  content: "";
  display: inline-block;
  position: absolute;
}

.petal-decor--medium {
    z-index: 0;
    width: 300px;
    height: 300px;
    clip-path: xywh(0 -3px 80% 74% round 0% 84%);
    right: -47px;
    bottom: -123px;
    transform: rotate(-62deg);
    background-color: rgb(174 172 172 / 30%);
  
}
.petal-decor--small {
    z-index: 1;
    width: 371px;
    height: 368px;
    clip-path: xywh(0 20px 80% 85% round 0% 84%);
    left: 83px;
    bottom: -51px;
    transform: rotate(-35deg);
    background-color: rgba(89, 62, 38, 0.3019607843);
}
